
@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';



@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

@import "variable";


body {
  font-family: 'Lato' !important;
}

h1, h2, h3, h4, h5, h6, p, button, a, span {
  font-family: 'Lato' !important;
}

.light {
  font-weight: 300;
}

.brand-color{
  color: $brand-color;
}
.white{
  color: #ffffff;
}
.black{
  color: $faded-black;
}

.grey{
  color: $grey;
}

.top-bar .top-bar-right ul {
  background: transparent;
}
.top-bar {
  &.white{
    background: white;
    box-shadow: 0px 0px 8px #ccc;
    transition : background 500ms
  }
  .top-bar-right ul li{
    padding: 1.1rem 1.5rem;
    background-color: transparent;
  }
  background-color: transparent;
  // border-bottom: 1px solid #eeeeee;
  position : fixed ;
  z-index : 999 ;
  width: 100%;

}

.top-bar-right {
  ul li a {
    color: white;
    &.active {
      font-weight: bold;
    }
    &:hover {
      color: #F5F6F7;
    }
  }
}

.top-bar-right ul li a {
  position: relative;
  padding: 0;
}

.top-bar-right ul li a.active:before {
  content: '';
  width: 120%;
  height: 2px;
  // background: #ec5840;
  bottom: rem-calc(-26px);
  left: -10%;
  position: absolute;
  transition: .25s linear;
}

.logo{
  width: auto;
  height: 3rem;
  margin-left: 2rem;
}

.our-team{
  background-color: $faded-white;

}

.events{
  background-color: $brand-color;
}

.hero-image {
  background-image: url("../img/hero_image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 95vh;
}
.pitch-wrapper {
  display: table;
  width: 100%;
  height: inherit;
}
.hero-pitch {
  display: table-cell;
  color: $white;
  vertical-align: middle;

  h2 {
    font-size: 56px;
  }
  h5.pitch-line {
      font-style: italic;
      font-family: "Merriweather" !important;
  }
  a.cta-button {
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    padding: 1rem 2rem;
    font-size: 18px;
    margin-top: 4rem;
    &:hover {
      border-color: #FFFFFF;
      color: #FFFFFF;
    }
  }
}

.callout-wrapper {
  margin-top: 1rem;
}
#what-we-do {

  .callout {
    padding: 2rem 5rem 1rem;
    border: 0;
    color: $brand-color;
    img{
      margin-bottom: 1.5rem;
    }

    p {
      margin-top: 1rem;
    }
  }

}

.members-wrapper{
  margin-bottom: 2.5rem;
  img{
    width: 148px;
    height: 148px;
    border-radius: 50%;
  }
  p{
    font-family: "Merriweather" !important;
    font-style: italic;
    font-weight: 300;
  }
  h6{
    margin-bottom: 0;
  }
}

section {
  padding: 4rem 0;
 & > h3{
   margin-bottom: 2rem;
   text-transform: uppercase;
 }
}

.contactus{
  background: $faded-white;
}

.button-size{
  background-color: $brand-color;
  width: 158px;
  height: 56px;
}

button.testimonial-button{
  width: 96px;
  height: 96px;
  border: solid 3px #ffffff;
  margin-bottom: 2rem;

  img {
    border-radius: 50%;
    opacity: 0.4;


  }
  .user-post {
      display: none;
      margin-top: 1rem;

      span:first-of-type {
        display: block;
        color: $grey;
      }
      span:nth-child(2) {
        margin-top: 0.4rem;
        font-family: "Merriweather";
        color: $brand-color;
        font-style: italic;
      }
    }
    &.is-active {
      .user-post {
        display: block;
      }
    }

}

p.testimony {
  position: relative;
}
.testimonial-icon-left{
  position: absolute;
  top: 0;
  left: -40px;
}

.testimonial-icon-right{
  position: absolute;
  top: 0;
  right: -40px;
}

.orbit-bullets button.is-active.testimonial-button{
  width: 120px;
  height: 120px;
  background-color: transparent;

  img {
    opacity: 1;

  }

}

button.orbit-previous, button.orbit-next{
  display: none;
}
.event-margin{
  margin-bottom: 0.75rem;
}
.event-logo{
  height: 72px;
  padding-bottom: 0.75rem;
}
.footer-icon{
  margin-right: 1rem;
}
.event-icon{
  margin-right: 0.5rem;
}
.footer{
  background-color: $brand-color;
  color: white;

}
.input-group input{
  // width: 620px;
  height: 56px;
  border-radius: 4px 0 0 4px !important;
  background-color: #ffffff;
  &:focus {
    border-color: white;
    box-shadow: 0px 0px 8px #ccc;
  }
}
.input-group-button button {
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 0 4px 4px 0 !important;
}

.menu-icon.hamburger-button {
	display: none;
}

.hamburger-button:after
{
  background: white;
  box-shadow: 0 7px 0 white, 0 14px 0 white;
 }

 .off-canvas{
   background: white;
   color: $white;
   &.is-open ul li a {
     color: $brand-color;
   }
 }
.button:hover, .button:focus {
  background-color: #c65c5c;
}

@media screen and ( max-width: 780px) {
  .top-bar-right, .top-bar-left {
    width: auto !important;
  }
  .top-bar-right .main-menu {
    display: none;
  }

  .menu-icon.hamburger-button {
  	display: inline-block;
    margin: 1rem 2rem 0 0;
  }

  .top-bar.white .menu-icon.hamburger-button:after {
    background: $brand-color;
    box-shadow: 0 7px 0 $brand-color, 0 14px 0 $brand-color;
  }
}
@media screen and (max-width: 768px) {
  #what-we-do{
    .callout{
      padding: 2rem 2rem 1rem;
    }
  }
  .hero-image {
    height: 70vw;
  }

.hero-pitch {
  a.cta-button{
    margin-top: 1rem;
    font-size: 18px;
    padding: 0.8rem 1.2rem;
  }

  h2{
    font-size: 5.5vw;
    font-weight: 300;
  }

  h5.pitch-line{
    font-size : 3.5vw;
  }
}

}
